/* Overrides for bootstrap defaults */


/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar,
.footer {
	font-size: 16px;
	background: #222;
}

.navbar {
	min-height: 0;
}

.navbar-static-top {
	margin-bottom: 20px;
	width:auto;
}

.navbar-inverse .navbar-nav>li>a {
	padding: 10px 15px;
}

/* Basic Layout
-------------------------------------------------- */


body {
  position: relative;
  background-repeat: repeat;
  font-family:'Roboto Serif', serif;
  line-height: unset;
}

.navbar,
footer {
	text-shadow: none;
}


ul li {
  margin-bottom: 5px;
}

.image-container {
	margin-top:5px;
	margin-bottom:50px;
	justify-content: flex-start;
}

.image-container .screenshot,
#portfolio .image-container img   {
	margin:5px;
}

/* Baseline Typography
-------------------------------------------------- */
html {
	font-size: 16px;
}

a {
	color: #0099e5;
  }
  
  a:hover{
	color: #0099e5;
	text-decoration: underline;
  }

p.lead {
	font-size:1.4rem;
} 

p.caption {
	font-size:1rem;
	font-family: 'Inconsolata', monospace;
}

#objective p.lead {
	font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 500;
}

#pitch h1 {
	margin-top: .25rem;
}

h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	text-transform: none;
	text-decoration: none;
	line-height: 3rem;
	margin: 1.2rem 0 0.3rem 0;
}


h2 {
	font-style: normal;
	font-weight: 500;
	font-size: .8rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.018rem;
	word-spacing: normal;
	line-height: 1rem;
	margin-bottom: 1rem;
	opacity: .5;
}


header h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.018rem;
	word-spacing: 	normal;
	line-height: 1.3;
	margin-bottom: 0.5rem;
}

.testimonial {
	font-size: 1.6rem;
    line-height: 2.5rem;
	font-family: 'Roboto', sans-serif;
    color: cornflowerblue;
    font-weight: 500;
    margin-top: 2rem;
    text-transform: none;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(24, 24, 199, 0.81);
}

.attribution {
	font-style: italic;
	font-size: 1rem;
	line-height: normal;
}

.annotation {
	font-size: 1rem;
	line-height: normal;
	margin-top:1rem;
	opacity: 0.6;
}

.emphasis {
	color:cornflowerblue;
}

.two-up .caption {
	font-size: 1.2rem;
	text-align: left;
	margin: 0 0 .25rem .5rem;
	font-weight: 500;
}

/* Images
-------------------------------------------------- */

#portfolio img {
	/* width: 97%;
	display: block;
	margin:30px auto 50px;
	margin: 10px auto 20px; */

}

img.flex-item {
	flex-grow: 0;
}

.screen {
	box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: .5rem;
    background: #333;
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    padding: .1rem;
	justify-content: space-around;
	display: flex;
}

.one-up .screenshot {
	padding:0rem;
}

.illustration {
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	background: #242424;
	border: 2px solid #AAAAAA;
	box-sizing: border-box;
	border-radius: 25px;
	padding:2px;
}


/* Flex Layout
-------------------------------------------------- */

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-container {
	justify-content: space-between;
}

.section-header .flex-container {
	flex-flow:nowrap;
}

.flex-item {
	flex: 0 1 auto;
	position: relative;
}

#pitch .flex-item {
	align-self: center;
}

.main {
	flex-shrink: 1;
	height: fit-content;
}

.quarter {
	flex-basis: 24%;
}

.threequarter {
	flex-basis: 74%;
}

.third {
	flex-basis: 32%;
}


.half {
	flex-basis: 49%;
}

.two-up .flex-item {
	flex-basis: 47%;
}

.twothird {
	flex-basis: 66%
}

.flex.two-up {
	margin: 2rem .5rem;
}

.fullwidth {
	flex-basis: 100%;
}


.h-centered {
	justify-content: center;
}

.v-centered {
	align-items: center;
}

/* Page Specific
-------------------------------------------------- */

/* Home */

#jumbotron .bezel {
	border: 4px solid #AAAAAA;
	box-sizing: border-box;
	box-shadow: inset 4px 8px 16px rgba(12, 11, 11, 0.38);
	border-radius: 20px;
	position: relative;
	padding:2%;
}

#jumbotron #missionControl {
	border-radius: 20px;
	position: relative;
	opacity: .4;
}

#jumbotron #me_jumbotron {
	position: absolute;
	height:100%;
	bottom: 0;
	z-index: 2;
}

#jumbotron h1 {
	position: absolute;
	top:0;
	right:0;
	width:50%;
	z-index: 3;
	font-size: 300%;
	line-height: 120%;
	font-weight: 600;
	color:#F2F2F2;

}

#jumbotron h1 .newLines {
	margin-bottom:  10%;

}

.flex-container.bezel,
.flex-item.bezel {
	padding: 0.5rem;
    height: fit-content;
    background-color: #545353;
    border-radius: 1rem;
    border: 3px solid #716e6e;
    box-shadow: 1rem 1rem 1rem rgb(33 33 33 / 50%);
}

.one-up .flex-item.bezel {
	position: relative;
	padding-bottom: 30px;
	margin: 1rem 2rem;

}

.one-up .caption {
	position: absolute;
	bottom: -.25rem;
	width: 100%;
	text-align: center;
}



.responsibilities {
	margin:0 0 20px 20px;
}

.responsibilities li {
	font-size: 100%;
    margin-bottom: 0;
    line-height: 22px;
    opacity: 0.6;
}

#home,#portfolio,#process {
	background: #3a3a3a;
	color: #aaa;
}

#me {
	background: #816c23;
	background-image: url("../img/floral_transparent.png");
	color: #7D442B;
}

#me footer {
	color: #666;
}

#me .lead {
	margin-top:1rem;
}

#me h1 {
	color:#33291B;
}

#me header img {
	margin: 30px auto;
}

#me img {
	border-radius: 8px;
	box-shadow: 0px 0px 10px 1px rgba(38,30,20,0.8);
	margin-bottom: 30px
}

#me .text-caption {
	font-size: 0.8rem;
	line-height: 1.2rem;
}


/* Sections
-------------------------------------------------- */
.section-header {

}

.section-body {
	position: relative;
	margin-top: 2rem;
}	

section {
	margin:1rem 0 4rem 0;
}

section#pitch {
	border-bottom: 2px solid #ccc;
	margin-right: 1rem;
	margin-left:1rem;
}

section#objective {
	margin-top:4rem;
	margin-bottom: 0;
}

section#portfolio {
	margin-left:1rem;
	margin-right:1rem;
}

#portfolio section {
	padding-bottom: 2rem;
	border-bottom: 1px solid #666;
}

section #pharsight {
	border-bottom:none;
	padding-bottom: 0;
	margin-bottom: 0;
}

section#colophon h1 {
	border-top: 1px solid #7D442B;;
	font-size: 20px;
}

section#colophon p, section#colophon li {
	margin-bottom: 2px;
}

section#bridge {
	padding-top:2rem;
}

#me .section-header {
	border-color: #33291B;
}

#me section {
	margin-top:1rem;
}

/* section specific 
--------------------------- */
#salesforce img.logo {
	width:150px;
	height:105px;
}

#jut img.logo {
	width:100px;
	height:29px;
}

#jaspersoft img.logo {
	width: 130px;
	height:25px;	
}

#jaspersoft .screen {
    padding: 10px;
}

#jaspersoft #special img {
	border-radius: 0;
}

#jaspersoft #special>img {
	margin-bottom: 1rem;
}

#jaspersoft #mirror {
	flex-wrap: nowrap;
}

#jaspersoft #mirror img {
	width:48%;
}

#akamai img.logo {
	width:120px;
	height:55px;
}

#ge img.logo {
	width:105px;
	height: 105px;
}


#apple img.logo {
	width: 106px;
	height: 131px;
}

#apple .bezel img {
	height: auto;
	width: 48%;
	margin: .25rem;
	align-self: start;
	border-radius: .25rem;
}


#pharsight img.logo {
	width: 169px;
	height: 60px;
}


.section-header .flex-container {
	justify-content: flex-start;
	gap: 1rem;
}

#qpharmetra .logo {
	background-image: url("../img/logo_qpharmetra.png");
	height: 35px;
}




#technicalApplication .logo {
	background-image: url("../img/logo_akamai.png");
	height: 61px;
}



#ecommerce .logo {
	background-image: url("../img/logo_apple.png");
	height: 106px;	
}

#mobileApplication .logo {
	background-image: url("../img/logo_pearson.png");
	height: 48px;	
}


#cca .logo {
	background-image: url("../img/logo_cca.png");
	height: 31px;
}


#serviceModel .logo {
	background-image: url("../img/logo_schwab.png");
	height: 32px;
}

#publicInterest .logo {
	background-image: url("../img/logo_sfrecpark.png");
	height: 106px;
}


#publicInterest #stewardship {
	position: relative;
	margin-left: 100px;
	margin-top: -30px;
}

#publicInterest #whp {
	position: relative;
	margin-top: 50px;
}

#colophon {
	font-size: smaller;
}

#salesforce #mobile {
	position: absolute;
	width:15%;
	bottom:1.5rem;
	right: 2rem;
	/* box-shadow: 5px 5px 5px rgba(38,30,20,0.8); */
	filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
	border-radius: 20px;
}

#cca img#video-thumbnail {
	height: 315px;
	width: 560px;
	cursor: pointer;
}

#containingBlock {
  width:50%;
}

#videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:20px;
}


/* Footer
-------------------------------------------------- */

footer {
	padding: 10px 0 10px 0;
	text-align:center;
  }

  .footer p {
	margin-bottom: 0;
  }

.footer-links,
.contactInfo {
  font-weight:400;
  margin: 0 0 5px 0;;
}
.footer-links li,
.contactInfo li {
  display: inline;
  margin-right: 10px;
}

footer a:hover,
.contactInfo a:hover {
	color: #0099e5;
	text-decoration: underline;
}

footer a,
.contactInfo a {
	text-decoration: none;
	float: none;
}

header .contactInfo {
	margin-top: 25px;
	font-size: .8rem;
	font-weight:400;
}



/* Responsive
-------------------------------------------------- */

.teaser.mobile {
	display:none;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-container {
    max-width: 970px;
  }
  .bs-docs-sidenav {
    width: 258px;
  }
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .span12 {
	    width: 980px;
	}
}


/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Rremove any padding from the body */
 html {
	 font-size: 14px;
 } 
 
  body {
    padding-top: 0;
  }

  .container {
	  width:90%;
  }
  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Rremove any padding from the body */
	body {
		padding-top: 0;
	}

	.third,
	.twothird,
	.half,
	.two-up .flex-item  {
		flex-basis: 100%;
	}
	
	.flex.two-up {
		margin: 0;
	}	
	
	/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		padding: 40px 20px;
		margin-top:   -20px; /* Offset bottom margin on .navbar */
		margin-right: -20px;
		margin-left:  -20px;
	}

	#jumbotron h1 {
		font-size: 150%;
		font-weight: 500;
	}
	.masthead p,
	.masthead .btn {
		font-size: 24px;
	}
	.marketing .span4 {
		margin-bottom: 40px;
	}
	.bs-docs-social {
		margin: 0 -20px;
	}
	
	/* Space out the show-grid examples */
	.show-grid [class*="span"] {
		margin-bottom: 5px;
	}
	
	/* Sidenav */
	.bs-docs-sidenav {
		width: auto;
		margin-bottom: 20px;
	}
	.bs-docs-sidenav.affix {
		position: static;
		width: auto;
		top: 0;
	}
	
	/* Unfloat the back to top link in footer */
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer p {
		margin-bottom: 9px;
	}		
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  
	html {
		font-size: 12px;
	}	

	body {
	padding: 0;
	}

	.container {
		margin-left: 0.5rem;
	}

  /* change visible location of teaser */
	.teaser.mobile {
		display:block;
		margin-top:20px;
	}

	.teaser.desktop {
		display:none;
	}

	/* end teaser */

	.two-up .flex-item {
		margin-bottom: 2rem;;
	}

	.two-up .caption {
		display: none;
	}

	.screen {
		border:none;
		box-shadow:none;
		padding:0;
		background:none;
		border-radius: 4px;
		width:95%;
		margin:auto;
		box-shadow: 1rem 1rem 1rem rgb(33 33 33 / 50%);
	}

	.testimonial {
		font-size: 1.2rem;
		line-height:
		1.5rem;
	}

	.flex-container.bezel,
	.flex-item.bezel {
		padding: 0;
		height: fit-content;
		background-color: transparent;
		border-radius: 0;
		border: none;
		box-shadow: none;
	}

	.one-up .flex-item.bezel {
		margin:1.5rem 0 0 0;
	}

  /* Change up some type stuff */
  p.lead {
	font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
  }
 
  h2 small {
    display: block;
  }

  /* Downsize the jumbotrons */
  .jumbotron h1 {
    /* font-size: 60px; */
  }
  #jumbotron h1 {
	/* font-size: 200%; */
}

  .jumbotron p,
  .jumbotron .btn {
    /* font-size: 20px; */
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }

  /* center align subhead text like the masthead */
  .subhead h1,
  .subhead p {
    text-align: center;
  }

  /* Marketing on home */
  .marketing h1 {
    /* font-size: 40px; */
  }

  /* center example sites */
  .example-sites {
    margin-left: 0;
  }
  .example-sites > li {
    float: none;
    display: block;
    max-width: 280px;
    margin: 0 auto 18px;
    text-align: center;
  }
  .example-sites .thumbnail > img {
    max-width: 270px;
  }

  /* Do our best to make tables work in narrow viewports */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Modal example */
  .modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  /* Unfloat the back to top in footer to prevent odd text wrapping */
  .footer .pull-right {
    float: none;
  }
}

/* Portrait phones
------------------------- */
@media (max-width: 375px) {
	
	.container {
		margin-left:1rem;
	}

	section {
		margin-bottom:0 !important;
	}

	section#objective {
		margin-top: 0;
	}

	#jumbotron .bezel {
		border: 2px solid #aaa;
		border-radius: 4px;
		box-shadow: none;
		padding: 0;
	}

	#jumbotron .bezel img {
		width:auto;
		border-radius: 0;
	}

	h1 {
		font-size: 1.8rem;
		line-height: 1.4;
	}

	#objective p.lead {
		font-size: 1.2rem;
		line-height: 1.6m;
	}

	.third,.twothird,.half,.cta {
		flex-basis: 100%;
	}

	#apple .bezel img {
		width: auto;
	}

	#apple .screen img:last-child,
	#salesforce #mobile {
		display:none;
	}

}
/* Utility
------------------------- */

.newLines {
	display: block;
}

.typekit-badge {
	display: none !important;
}
