/* Overrides for bootstrap defaults */


/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar,
.footer {
	font-size: 16px;
	background: #222;
}

.navbar {
	min-height: 0;
}

.navbar-static-top {
	margin-bottom: 20px;
	width:auto;
}

.navbar-inverse .navbar-nav>li>a {
	padding: 10px 15px;
}

/* Basic Layout
-------------------------------------------------- */


body {
  position: relative;
  background-repeat: repeat;
  /* font-family: 'Source Sans Pro', "Verdana", sans-serif; */
  font-family:'Roboto Serif', serif; ; 
  font-weight: 300;
  font-size: 110%;
}

.navbar,
footer {
	text-shadow: none;
}


ul li {
  margin-bottom: 5px;
}

.image-container {
	margin-top:5px;
	margin-bottom:50px;
	justify-content: flex-start;
}

.image-container .screenshot,
#portfolio .image-container img   {
	margin:5px;
}

/* Baseline Typography
-------------------------------------------------- */

/* p, */

#pitch p.lead {
	font-size: 160%;
    line-height: 165%;
    font-weight: 500;
}

a {
  color: #0099e5;
}

a:hover{
  color: #0099e5;
  text-decoration: underline;
}

#me h1,
#me h2, 
#portfolio h1 {
	/* font-family: 'Source Sans Pro', "Verdana", sans-serif; */
}

#portfolio .intro-text {
	  margin-bottom:20px;
	}
	
.intro-text h1 {
		font-size: 350%;
		line-height: 1.2em;
		margin-top: 0.25em;
}

h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 220%;
	text-transform: none;
	text-decoration: none;
	line-height: 1.2;
	margin: 1.2em 0 0.3em 0;
}


h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 80%;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.018em;
	word-spacing: normal;
	line-height: 0.5;
	margin-bottom: 1em;
	opacity: .5;
}


header h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.018em;
	word-spacing: 	normal;
	line-height: 1.3;
	margin-bottom: 0.5em;
}

.testimonial {
	font-family: 'Roboto', sans-serif;
    color: cornflowerblue;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.6em;
    margin-top: 2em;
    text-transform: none;
    text-shadow: 0.1em 0.1em 0.1em rgba(24, 24, 199, 0.81);
}

.attribution {
	font-style: italic;
	font-size: 110%;
	line-height: 1.1em;
}

.annotation {
	font-size: 100%;
	line-height: normal;
	margin-top:1em;
	opacity: 0.6;
}

.emphasis {
	color:cornflowerblue;
}

.caption {
	font-family: 'Inconsolata', monospace;
}

.two-up .caption {
	font-size: 100%;
	text-align: left;
	margin: .25em 0 .5em 1em;
	font-weight: 700;
}

/* Images
-------------------------------------------------- */

#portfolio img {
	width: 97%;
	display: block;
	margin:30px auto 50px;
}

.screenshot {
	box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: .5em;
    background: #333;
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    padding: .1em;
}

.one-up .screenshot {
	padding:0em;
}

.one-up .bezel img {
	border-radius: .7em;
}

.illustration {
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	background: #242424;
	border: 2px solid #AAAAAA;
	box-sizing: border-box;
	border-radius: 25px;
	padding:2px;
}


/* Flex Layout
-------------------------------------------------- */

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-container {
	justify-content: space-between;
}

.section-header .flex-container {
	flex-flow:nowrap;
}

.flex-item {
	flex: 0 1 auto;
	position: relative;
}

.flex-item.bezel {
	padding: 0.5em;
    height: fit-content;
    background-color: #545353;
    border-radius: 1em;
    border: 3px solid #716e6e;
    box-shadow: 1em 1em 1em rgb(33 33 33 / 50%);
}

.one-up .flex-item.bezel {
	position: relative;
	padding-bottom: 2em;
	margin: 1em 2em;

}

.one-up .caption {
	position: absolute;
	bottom: -.25em;
	width: 100%;
	text-align: center;
	font-size: 1em;
	font-weight: 500;
	/* text-shadow: -1px -1px 0px rgba(49, 49, 49, 0.81); */

}


/* .flex-item .logo {
	margin-right:2em;
	background-size:cover;
	width:20%;
} */

.main {
	flex-shrink: 1;
	height: fit-content;
}

.quarter {
	flex-basis: 24%;
}

.threequarter {
	flex-basis: 74%;
}

.third {
	flex-basis: 32%;
}


.half {
	flex-basis: 49%;
}

.two-up .flex-item {
	flex-basis: 47%;
}

.twothird {
	flex-basis: 66%
}

.flex.two-up {
	margin: 2em .5em;
}

.fullwidth {
	flex-basis: 100%;
}


.h-centered {
	justify-content: center;
}

.v-centered {
	align-items: center;
}

/* Page Specific
-------------------------------------------------- */

/* Home */

#jumbotron {
	border: 4px solid #AAAAAA;
	box-sizing: border-box;
	box-shadow: inset 4px 8px 16px rgba(12, 11, 11, 0.38);
	border-radius: 20px;
	position: relative;
}

#jumbotron #missionControl {
	border-radius: 20px;
	position: relative;
	opacity: .4;
}

#jumbotron #me_jumbotron {
	position: absolute;
	height:100%;
	bottom: 0;
	z-index: 2;
}

#jumbotron h1 {
	position: absolute;
	top:0;
	right:0;
	width:50%;
	z-index: 3;
	font-size: 300%;
	line-height: 120%;
	font-weight: 600;
	color:#F2F2F2;

}

#jumbotron h1 .newLines {
	margin-bottom:  10%;

}

section {
	margin:1em 0 4em 0;
}

#me .section-header {
	border-color: #33291B;
}

.responsibilities {
	margin:0 0 20px 20px;
}

.responsibilities li {
	font-size: 100%;
    margin-bottom: 0;
    line-height: 22px;
    opacity: 0.6;
}

#home,#portfolio,#process {
	background: #3a3a3a;
	color: #aaa;
}

#me {
	background: #816c23;
	background-image: url("../img/floral_transparent.png");
	color: #7D442B;
}

#me footer {
	color: #666;
}

#me section {
	margin-top:1em;
}

#me .lead {
	margin-top:1em;
}

#me h1 {
	color:#33291B;
}

#me header img {
	margin: 30px auto;
}

#me img {
	border-radius: 8px;
	box-shadow: 0px 0px 10px 1px rgba(38,30,20,0.8);
	margin-bottom: 30px
}

#me .text-caption {
	font-size: 0.8em;
	line-height: 1.2em;
}


/* Sections
-------------------------------------------------- */
.section-header .logo {
	margin-top:1em;
	margin-right:2em;
	background-repeat: no-repeat;
	background-size: contain;
	width: auto;
}

.section-body {
	position: relative;
	margin-top: 2em;
/* 	margin-left: 10px; */
}	


/* section specific 
--------------------------- */
#salesforce img.logo {
	width:150px;
	height:105px;
}

#jut img.logo {
	width:100px;
	height:29px;
}

#jaspersoft img.logo {
	width: 130px;
	height:25px;	
}
/*foo*/
#jaspersoft #special {
	box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    background: #333;
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    padding: 10px;
}

#jaspersoft #special img {
	border-radius: 0;
}

#jaspersoft #special>img {
	margin-bottom: 1em;
}

#jaspersoft #mirror {
	flex-wrap: nowrap;
}

#jaspersoft #mirror img {
	width:48%;
}

#akamai img.logo {
	width:120px;
	height:55px;
}

#ge img.logo {
	width:105px;
	height: 105px;
}


#apple img.logo {
	width: 106px;
	height: 131px;
}

#pharsight img.logo {
	width: 169px;
	height: 60px;
}


.section-header .flex-container {
	justify-content: flex-start;
	gap: 1em;
}

#qpharmetra .logo {
	background-image: url("../img/logo_qpharmetra.png");
	height: 35px;
}




#technicalApplication .logo {
	background-image: url("../img/logo_akamai.png");
	height: 61px;
}



#ecommerce .logo {
	background-image: url("../img/logo_apple.png");
	height: 106px;	
}

#mobileApplication .logo {
	background-image: url("../img/logo_pearson.png");
	height: 48px;	
}


#cca .logo {
	background-image: url("../img/logo_cca.png");
	height: 31px;
}


#serviceModel .logo {
	background-image: url("../img/logo_schwab.png");
	height: 32px;
}

#publicInterest .logo {
	background-image: url("../img/logo_sfrecpark.png");
	height: 106px;
}


#publicInterest #stewardship {
	position: relative;
	margin-left: 100px;
	margin-top: -30px;
}

#publicInterest #whp {
	position: relative;
	margin-top: 50px;
}

#colophon {
	font-size: smaller;
}

#salesforce #mobile {
	position: absolute;
	width:15%;
	bottom:1.5em;
	right: 2em;
	/* box-shadow: 5px 5px 5px rgba(38,30,20,0.8); */
	filter: drop-shadow(0.35em 0.35em 0.4em rgba(0, 0, 0, 0.5));
	border-radius: 20px;


}
section#colophon h1 {
	border-top: 1px solid #7D442B;;
	font-size: 20px;
}

section#colophon p, section#colophon li {
	margin-bottom: 2px;
}

section#bridge {
	padding-top:2em;
}

#cca img#video-thumbnail {
	height: 315px;
	width: 560px;
	cursor: pointer;
}

#containingBlock {
  width:50%;
}

#videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:20px;
}


/* Footer
-------------------------------------------------- */

.footer {
	margin-top: 70px;
	padding: 10px 0 10px 0;
	text-align:center;
  }

  .footer p {
	margin-bottom: 0;
  }

.footer-links,
.contactInfo {
  font-weight:400;
  margin: 0 0 5px 0;;
}
.footer-links li,
.contactInfo li {
  display: inline;
  margin-right: 10px;
}

footer a:hover,
.contactInfo a:hover {
	color: #0099e5;
	text-decoration: underline;
}

footer a,
.contactInfo a {
	text-decoration: none;
	float: none;
}

header .contactInfo {
	margin-top: 25px;
	font-size: .8em;
	font-weight:400;
}



/* Responsive
-------------------------------------------------- */

.teaser.mobile {
	display:none;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-container {
    max-width: 970px;
  }
  .bs-docs-sidenav {
    width: 258px;
  }
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .span12 {
	    width: 980px;
	}
}


/* Desktop
------------------------- */
@media (max-width: 980px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }

  /* When affixed, space properly */
  .bs-docs-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
  /* Widen masthead and social buttons to fill body padding */
  .jumbotron {
    margin-top: -20px; /* Offset bottom margin on .navbar */
  }
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .bs-docs-sidenav.affix {
    top: 0;
  }
  #jumbotron h1 {
	  font-size: 250%;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Remove any padding from the body */
	body {
		padding-top: 0;
	}

	.third,
	.twothird,
	.half,
	.two-up .flex-item  {
		flex-basis: 100%;
	}
	
	#portfolio {
		background-color: #2a2a2a;
	}

	.flex.two-up {
		margin: 0;
	}	
	.testimonial {
		color:#ff7000;
		font-size: 130%;
	}
	
	#portfolio img {
		margin: 10px auto 20px;
	}	
	
	/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		padding: 40px 20px;
		margin-top:   -20px; /* Offset bottom margin on .navbar */
		margin-right: -20px;
		margin-left:  -20px;
	}

	#jumbotron h1 {
		font-size: 150%;
		font-weight: 500;
	}

	h1 {
		font-size: 150%;
	}

	.masthead h1 {
		font-size: 90px;
	}
	.masthead p,
	.masthead .btn {
		font-size: 24px;
	}
	.marketing .span4 {
		margin-bottom: 40px;
	}
	.bs-docs-social {
		margin: 0 -20px;
	}
	
	/* Space out the show-grid examples */
	.show-grid [class*="span"] {
		margin-bottom: 5px;
	}
	
	/* Sidenav */
	.bs-docs-sidenav {
		width: auto;
		margin-bottom: 20px;
	}
	.bs-docs-sidenav.affix {
		position: static;
		width: auto;
		top: 0;
	}
	
	/* Unfloat the back to top link in footer */
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer p {
		margin-bottom: 9px;
	}		
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 0;
    font-size:85%;
  }

  /* change visible location of teaser */
.teaser.mobile {
	display:block;
	margin-top:20px;
}

.teaser.desktop {
	display:none;
}

/* end teaser */

.two-up .flex-item {
	margin-bottom: 2em;;
}

.two-up .caption {
	display: none;
}

  /* Change up some type stuff */
  h2 small {
    display: block;
  }

  /* Downsize the jumbotrons */
  .jumbotron h1 {
    font-size: 60px;
  }
  #jumbotron h1 {
	font-size: 200%;
}

  .jumbotron p,
  .jumbotron .btn {
    font-size: 20px;
  }
  .jumbotron .btn {
    display: block;
    margin: 0 auto;
  }

  /* center align subhead text like the masthead */
  .subhead h1,
  .subhead p {
    text-align: center;
  }

  /* Marketing on home */
  .marketing h1 {
    font-size: 40px;
  }

  /* center example sites */
  .example-sites {
    margin-left: 0;
  }
  .example-sites > li {
    float: none;
    display: block;
    max-width: 280px;
    margin: 0 auto 18px;
    text-align: center;
  }
  .example-sites .thumbnail > img {
    max-width: 270px;
  }

  /* Do our best to make tables work in narrow viewports */
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Modal example */
  .modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

  /* Unfloat the back to top in footer to prevent odd text wrapping */
  .footer .pull-right {
    float: none;
  }
}

/* Portrait phones
------------------------- */
@media (max-width: 375px) {
	body {
		font-size:65%;
	}
	
	.third,.twothird,.half,.cta {
		flex-basis: 100%;
	}

	/* #jumbotron h1 {
		font-size: 175%;
		font-weight: 500;
	} */
}

/* Utility
------------------------- */

.newLines {
	display: block;
}

.typekit-badge {
	display: none !important;
}
