/* temp */

#salesforce .details__overlay {


opacity: 1;
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
-webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
z-index: 800;
display: flex;
flex-direction: column;
}


/* navigation */

.top-nav {
	background-color: #000;
	background-image: linear-gradient(to bottom, #222, #000);
	z-index: 3;
  }
  
  .top-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
  }

  .top-nav li {
	  margin: 0;
  }
  
  .top-nav li a {
	display: block;
	padding: 0.75rem 2rem;
	text-decoration: none;
  }
  
  .top-nav li a:hover,
  .top-nav .menu-btn:hover {
	color:#fff;
  }

  .top-nav li.active {
	color: #ffffff;
	background-color: #111111;
	background-image: linear-gradient(to bottom, #000, #222);
}

.top-nav li a {
	color: #999999;
	text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
}

.top-nav li.active a {
	color: #ffffff;
}
  
  /* menu */
  
  .top-nav .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .top-nav .menu-icon {
	cursor: pointer;
	display: inline-block;
	padding: .75rem;
	position: relative;
	user-select: none;
	margin:0;
	top:2px;
  }
  
  .top-nav .menu-icon .navicon {
	background: #999;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .top-nav .menu-icon .navicon:before,
  .top-nav .menu-icon .navicon:after {
	background: #999;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .top-nav .menu-icon .navicon:before {
	top: 5px;
  }
  
  .top-nav .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .top-nav .menu-btn {
	display: none;
  }
  
  .top-nav .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .top-nav .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .top-nav .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .top-nav .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
	.top-nav li {
	  float: left;
	}
	.top-nav li a {
	  padding: .75rem 2rem;
	}
	.top-nav .menu {
	  clear: none;
	  max-height: none;
	  width: 980px;
	  margin:auto;
	}
	.top-nav .menu-icon {
	  display: none;
	}
  }
  

/* /navigation */

/* Modal Stuff */
  
  .wrap { padding: 1em; }

  @media (min-width: 43.75em) {
	.wrap { padding: 2em; }
	}
  
  @media (min-width: 43.75em) {
  
  }
  
  .details > label,
  .details__overlay label {
	border-radius: .2em;
	border: 1px solid #aaa;
	cursor: pointer;
	display: inline-block;
	margin-top: 1em;
	-webkit-transition: all 0.55s;
	transition: all 0.55s;
	margin-bottom: 0;
	line-height: 1.2rem;
  }

  .details > label {
	padding: 0.75em 1.5em;
  }

  .details__overlay label {
	padding: 0.25em 1.5em;
	font-size: smaller;
	margin: .2rem 10% 0 0;
  }
  
  .details > label:hover {
	background: #f2f2f2; 
  }

  .details__overlay > label:hover {
	background: #2e2e2e;
  }
  
  .details input {
	position: absolute;
    left: 20px;
    top: 15px;
    z-index: -10;
    opacity: 0;
  }
  
  .details__overlay {
	background: black;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	/* text-align: center; */
	top: 0;
	z-index: -800;
  }

  .details__overlay {
	opacity: 0;
	overflow: hidden;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  input:checked ~ .details__overlay {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 800;
	display: flex;
	flex-direction: column;
  }

  /* scrolling */

.details__overlay header {
	background-color: #f2f2f2; 
	height:2.5rem;
	padding: 0;
	text-align: right;
}
.details__overlay .content {
    height: 100%;
    overflow-y: auto;
}

.details__overlay .content. .container {
	height: 100%;
    padding: 0;
    margin: 0;
	text-align: left;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.details__overlay .content .column {
	/* width: 90%; */
	/* max-width:980px; */
	margin: 1rem auto 2rem auto;
	/* text-align: left;
	justify-content: flex-start; */
}

.details__overlay p.lead {
	/* margin: 1rem 0 1.5rem 0; */
} 

.details__overlay .content .bezel {
	margin-bottom: 4rem;
	text-align: center;
}
  
  .details_switch {
	position: absolute;
    margin: 1em;
    top: 0;
    right: 2rem;
  }
  @media (min-height: 37.5em) {
  
  .details_switch {
	-webkit-transform: translate(-50%, -80%);
	-ms-transform: translate(-50%, -80%);
	transform: translate(-50%, -80%);
  }
  }
  @media (min-width: 50em) {
  
  }
  
  
  .details_switch h2 {
	color: #FFDE16;
	margin-bottom: 1em;
	text-transform: uppercase;
  }
  
  .details_switch p {
	color: #FFDE16;
	text-align: left;
  }
  
 
  
  input:focus + label {
	-webkit-transform: scale(0.97);
	-ms-transform: scale(0.97);
	transform: scale(0.97);
  }


/* Basic Layout
-------------------------------------------------- */


body {
  position: relative;
  background-repeat: repeat;
  font-family:'Roboto Serif', serif;
  line-height: unset;
  padding:0 !important;
  margin:0 !important;
}

.navbar,
footer {
	text-shadow: none;
}


ul li {
  margin-bottom: 5px;
}

.image-container {
	margin-top:5px;
	margin-bottom:50px;
	justify-content: flex-start;
}

.image-container .screenshot,
#portfolio .image-container img   {
	margin:5px;
}

.container {
	width:980px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width:280px)  { /* nothing */.container {width:220px;} }
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */.container {width:310px;} }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ .container {width:470px;} }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ .container {width: 608px;} }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ .container {width:740px;} }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ .container {width:980px;} }
@media (min-width:1281px) { /* hi-res laptops and desktops */ .container {width:980px;} }

/* Baseline Typography
-------------------------------------------------- */
html {
	font-size: 16px;
}

a {
	color: #0099e5;
  }
  
  a:hover{
	color: #0099e5;
	text-decoration: underline;
  }

p.lead {
	font-size:1.4rem;
line-height: 1.6;} 

p.lead + ul {
	padding-inline-start: 1rem;
    font-size: 1.4rem;
    line-height: 1.5;
}

p.caption {
	font-size:1rem;
	font-family: 'Inconsolata', monospace;
	color: #FFF;
	margin: 0 auto 0.5rem auto;
}

#objective p.lead {
	font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 500;
}

#pitch h1 {
	margin-top: .25rem;
}

h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	text-transform: none;
	text-decoration: none;
	line-height: 3rem;
	margin: 1.2rem 0 0.3rem 0;
	
}

header h1 {
	margin: 3rem 0 1rem 0;
}


h2 {
	font-style: normal;
	font-weight: 500;
	font-size: .8rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.018rem;
	word-spacing: normal;
	line-height: 1rem;
	margin-bottom: 1rem;
	opacity: .5;
}

h3 {
	margin-bottom: 0;
	font-size: 1.3rem;
}

h3 + p.lead {
	margin-top: .5rem;
}


/* Special Typography */

.testimonial {
	font-size: 1.4rem;
	line-height: 2.2rem;
	font-style: italic;
	color: #0002d2;
	font-weight: 500;
	margin-top: 2rem;
	text-transform: none;
}

.attribution {
	font-style: italic;
	font-size: 1rem;
	line-height: normal;
}

.annotation {
	font-size: 1rem;
	line-height: normal;
	margin-top:1rem;
	opacity: 0.6;
}

.emphasis {
	color:cornflowerblue;
}

.lead .emphasis {
	color: inherit;
}

.ellipsis {
	width:100%;
	text-align: center;
	font-size: 4rem;;
}

.expand {
	color:#aaa;
	height: .9rem;
	display: inline-block;
	margin-right:5px
}

.one-up .caption {
	width: 100%;
	text-align: center;
}

.responsibilities {
	margin:0 0 20px 20px;
}

.responsibilities li {
	font-size: 100%;
    margin-bottom: 0;
    line-height: 22px;
    opacity: 0.6;
}


/* Images
-------------------------------------------------- */

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

img.flex-item {
	flex-grow: 0;
}

.screen {
	box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: .5rem;
    background: #333;
    border: 1px solid #a3a3a3;
    box-sizing: border-box;
    padding: .1rem;
	justify-content: space-around;
	display: flex;
}

.one-up .screenshot {
	padding:0rem;
}

.illustration {
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	background: #242424;
	border: 2px solid #AAAAAA;
	box-sizing: border-box;
	border-radius: 25px;
	padding:2px;
}


/* Flex Layout
-------------------------------------------------- */

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-container {
	justify-content: space-between;
}

.section-header .flex-container {
	flex-flow:nowrap;
	gap: 2rem;
}

.flex-item {
	flex: 0 1 auto;
	position: relative;
}

#pitch .flex-item {
	align-self: auto;
}

.main {
	flex-shrink: 1;
	height: fit-content;
}

.quarter {
	flex-basis: 24%;
}

.threequarter {
	flex-basis: 74%;
}

.third {
	flex-basis: 32%;
}


.half {
	flex-basis: 49%;
}

.two-up .flex-item {
	flex-basis: 47%;
}

.twothird {
	flex-basis: 66%
}

.flex.two-up {
	margin: 2rem .5rem;
}

.fullwidth {
	flex-basis: 100%;
}


.h-centered {
	justify-content: center;
}

.v-centered {
	align-items: center;
}

/* Page Specific
-------------------------------------------------- */

/* Home */

#home,#values,#about,.details__overlay {
	background: #FFF;
	color: #555;
}

#tim:before {
    content: '';
    display: block;
    padding-top: 100%;
	min-width: 200px;
}

#tim {
	border-radius: 50%;
    border: 5px solid #aaa;
	height: 200px;
	width: 200px;
	background-image: url(../img/me_jumbotron_small.jpg);
	background-repeat: no-repeat;
	background-position: top 10% right 45%;
	background-size: 200%;
	margin:0 auto;
	height: auto;
}

/* #jumbotron h1 {
	position: absolute;
	top:3rem;
	right:.5rem;
	width:50%;
	z-index: 3;
	font-size: 300%;
	line-height: 120%;
	font-weight: 600;
	color: #48b9ff;
	text-shadow: 1px 1px 2px #363c48;
}

#jumbotron h1 .newLines {
	margin-bottom:  10%;

} */

/* .flex-container.bezel,
.flex-item.bezel  */
.bezel {
	padding: 0.5rem;
    height: fit-content;
    background-color: #545353;
    border-radius: 1rem;
    border: 3px solid #716e6e;
    box-shadow: 1rem 1rem 1rem rgb(33 33 33 / 50%);
}

/* .one-up .flex-item.bezel, */
.bezel {
	position: relative;
	margin: 1rem 2rem;

}

/* Values */

/* #values {
	background: #bfb7d0;
    color: #420101;
} */

/* How to include background pattern */
/*#values::before {    
	content: "";
	background-image: url('../img/values_background.png');
	position: absolute;
	top: 45px;
	right: 0px;
	bottom: 53px;
	left: 0px;
	opacity: 0.1;
}
 */
 
#values header img,
#values section img {
	align-self: flex-start;
	flex-shrink: 1;
	min-width: 0;
	border-radius: 1em;
	padding: 2px;
	border:2px solid #420101;
}

#values h1 {
	font-weight:600;
	font-size: 2rem;
}

/* #values section a {
	color:rgba(24, 24, 199, 0.81)
} */


/* About */

#about .lead {
	margin-top:1rem;
}

#about header img,
#about section img {
	box-shadow: 0px 5px 8px 1px rgba(38,30,20,0.3);
	margin-bottom: 30px
}

#about .caption {
	text-align: right;
	margin-bottom: 2em;
}

#about section {
	padding-bottom: 0;
	margin-bottom: 0;
}


/* Sections
-------------------------------------------------- */

.section-body {
	position: relative;
	margin-top: 2rem;
}	

section {
	margin:1rem 0 3rem 0;
}

section:last-of-type {
	border-bottom: none !important;
	margin-bottom: 0 !important;
}

header,
section {
	padding-bottom: 2rem;
}

#home section,
#values header,
#values section {
	border-bottom: 1px solid #aaa;
}

section#colophon h1 {
	border-top: 1px solid #7D442B;;
	font-size: 20px;
}

section#colophon p, section#colophon li {
	margin-bottom: 2px;
}

section#bridge {
	padding-top:2rem;
}

#about .section-header {
	border-color: #33291B;
}

#about section {
	margin-top:1rem;
}

/* section specific 
--------------------------- */

.logo {
	align-self: flex-start;
	opacity: 0.5;
}

#salesforce img.logo {
	width:130px;
}

#jut img.logo {
	width:130px;
}

#jaspersoft img.logo {
	width: 130px;
}

#akamai img.logo {
	width:130px;
}

#ge img.logo {
	width:130px;
}


#apple img.logo {
	width: 130px;
}


#pharsight img.logo {
	width: 169px;
	height: 60px;
}


#salesforce #mobile {
    position: absolute;
    width: 15%;
    bottom: 1.5rem;
    right: 2rem;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    border-radius: 20px;
}

/* Footer
-------------------------------------------------- */

footer {
	padding: 10px 0 10px 0;
	text-align:center;
	background-color:#000;
  }

  .footer p {
	margin-bottom: 0;
  }

.contactInfo {
	display: flex;
	flex-direction: row;
	font-weight:400;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: .5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.contactInfo .flex-item {
	/* margin: 0 8px 8px 0; */
	flex: 0 0 0;
	max-height: 25px;
}

footer a:hover,
.contactInfo a:hover {
	color: #0099e5;
	text-decoration: underline;
}

footer a,
.contactInfo a {
	text-decoration: none;
	float: none;
}

header .contactInfo {
	margin-top: 25px;
	font-size: .8rem;
	font-weight:400;
}



/* Responsive
-------------------------------------------------- */

.teaser.mobile {
	display:none;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .bs-docs-container {
    max-width: 970px;
  }
  .bs-docs-sidenav {
    width: 258px;
  }
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .span12 {
	    width: 980px;
	}
}

/* Desktop
------------------------- */
@media (max-width: 1025px) {
  /* Unfloat brand */
  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }


  /* Inline-block quick links for more spacing */
  .quick-links li {
    display: inline-block;
    margin: 5px;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Rremove any padding from the body */
 html {
	 font-size: 14px;
 } 
 
  body {
    padding-top: 0;
  }

  .threequarter {
	flex-basis: auto;
}
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Rremove any padding from the body */
	body {
		padding-top: 0;
	}

	.third,
	.twothird,
	.half,
	.quarter,
	.threequarter,
	.two-up .flex-item  {
		flex-basis: auto;
	}

	#avatar {
		flex-basis: 100%;
	}

	.flex-container {
		align-items: center;
		/* justify-content: center; */
	}
	
	.flex.two-up {
		margin: 0;
	}	

	#pitch .flex-item {
		margin:1rem;
	}
	
	/* Widen masthead and social buttons to fill body padding */
	.jumbotron {
		padding: 40px 20px;
		margin-top:   -20px; /* Offset bottom margin on .navbar */
		margin-right: -20px;
		margin-left:  -20px;
	}

	#jumbotron h1 {
		/*here*/
		font-size: 1.3rem;
		font-weight: 500;
	}

	footer {
		margin-left: -20px;
		margin-right: -20px;
	}
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  
	html {
		font-size: 12px;
	}	

	body {
	padding: 0;
	}

	#tim {
		width:150px;
	}

	/* end teaser */

	.two-up .flex-item {
		margin-bottom: 2rem;
	}


	.two-up .caption {
		display: none;
	}

	.section-header .flex-container {
		flex-flow: wrap;
	}


	.screen {
		border:none;
		box-shadow:none;
		padding:0;
		background:none;
		border-radius: 4px;
		width:95%;
		margin:auto;
		box-shadow: 1rem 1rem 1rem rgb(33 33 33 / 50%);
	}

	/* .flex-container.bezel,
	.flex-item.bezel, */
	.bezel,
	.flex-item {
		padding: 0;
		height: fit-content;
		background-color: transparent;
		border-radius: 0;
		border: none;
		box-shadow: none;
	}

	/* .one-up .flex-item.bezel, */
	.bezel {
		margin:0 0 1.5rem 0;
	}

	#apple .bezel img {
		width: auto;
	}

	#apple .screen img:last-child,
	#salesforce #mobile {
		display:none;
	}

}

/* Portrait phones
------------------------- */
@media (max-width: 375px) {

	h1 {
		font-size: 1.8rem;
		line-height: 1.4;
	}

	#objective p.lead {
		font-size: 1.2rem;
		line-height: 1.6m;
	}

	.third,.twothird,.half,.cta {
		flex-basis: 100%;
	}

}
/* Utility
------------------------- */

.newLines {
	display: block;
}

.typekit-badge {
	display: none !important;
}
